.overlay {}

.container {
    position: relative;
}


.controls {
    display: none !important;
}

.children-with-img {
    position: absolute;
    left:50%;
    top:30%;
    transform:translate(-50%);
}